.timer {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    color: red;
}

.letters {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 40px 50px 200px 50px 40px;
}

.upvote {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.letter {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 150px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.downvote {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.submit {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.display {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 40px auto 40px;
}

.text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 20px;
    display: inline-block;
    word-break: break-all;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 26px;
  color: black;
  padding-left: 2px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.disabled {
    cursor: not-allowed;
    color: gray;
}