.timer {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    color: red;
}

.letters {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 40px 50px 200px 50px 40px;
}

.upvote {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.letter {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 150px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.downvote {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.submit {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.display {

}

.text {

}

.disabled {
    cursor: not-allowed;
    color: gray;
}