<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/index.css">
    <title>Ouigi Ouigi</title>
</head>
<body>
    <div class="letters">
        <div class="upvote">
            <img src="/static/images/upvote.png">
        </div>
        <div class="letter">P</div>
        <div class="downvote">
            <img src="/static/images/downvote.png">
        </div>
    </div>

    <div class="display">
        <div class="text"></div>
    </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/static/index.js" type="text/javascript"></script>
</html>